In [2]:
# Sets Datattype

s= set()

print(type(s))

# In sets try to pass argument  as a list

s=set([1,2,3,4,5])

print(s)

print(type(s))

# By default  { } is a class 'dict'

s ={}

print(type(s))

''' But can use { } for more than one element '''

st={20,30,40}

print(st)

print(type(st))

<class 'set'>
{1, 2, 3, 4, 5}
<class 'set'>
<class 'dict'>
{40, 20, 30}
<class 'set'>

In [3]:
# In Sets Duplicates are automatically removed

S={1,2,3,1,2,1}

print(S)

print(type(S))

{1, 2, 3}
<class 'set'>

In [4]:
# Methods

s1={1,2,3}
s2={3,4,5}

print(s1|s2)

print(s1&s2)

print(s1-s2)

print(s1^s2) ''' Symmetric difference'''

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}